.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 1;
    color: #21966e;

    text-transform: uppercase;

    &:hover,
    &:focus {
      color: #36326b;
    }

    &:active {
      color: #21966e;
      opacity: 0.6;
    }

    &--current {
      border-bottom: 2px solid #36326b;

      color: #36326b;
      cursor: default;
    }
  }
}
