.tool-tip {
  position: relative;

  cursor: help;

  &:hover::after {
    content: attr(data-title);
    position: absolute;
    z-index: 20;

    display: inline-block;
    padding: 10px;

    color: @color-main;
    text-transform: uppercase;

    border-radius: 10px;
  }

  &--blue:hover::after {
    background-color: rgba(@color-accidental-blue, 0.6);
  }

  &--green:hover::after {
    background-color: rgba(@color-accidental-green, 0.6);
  }

  &--green-dence:hover::after {
    background-color: rgba(@color-accidental-green, 0.8);
  }

  &--portfolio {
    cursor: pointer;
  }

  &--portfolio:hover::after {
    top: 50%;
    left: 50%;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 245px;
    height: 245px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    font-size: 24px;
    font-weight: 600;
    text-align: center;

    background-color: @translucent-bg-color-dence;
    background-image: url("../img/icons/icon-plus.svg");
    background-repeat: no-repeat;
    background-position: 50% 40px;
    background-size: 100px;
    border-radius: 15px;
    transform: translate(-50%, -50%);
  }
}
