extends ../pug/layout.pug

block header
  +header(pagesList, 1)

block content
  section.start.page-wrapper
    h1.visually-hidden Вводная страница

    .start__hello-message
      p.start__hello-message-text Привет, #[br] меня зовут #[span.start__hello-message-name Калюжная&nbsp;Марина.] #[span.start__hello-message-metier Я верстальщик и frontend-разработчик.]

    ul.start__tiles-menu
      li.start__tiles-menu-item.start__tiles-menu-item--blue
        a.start__tiles-menu-link(href='about.html') Обо мне
      li.start__tiles-menu-item.start__tiles-menu-item--green
        a.start__tiles-menu-link(href='skills.html') Навыки
      li.start__tiles-menu-item.start__tiles-menu-item--green
        a.start__tiles-menu-link(href='portfolio.html') Портфолио
      li.start__tiles-menu-item.start__tiles-menu-item--blue
        a.start__tiles-menu-link(href='contacts.html') Контакты
