extends ../pug/layout.pug

block header
  +header(pagesList, 0)

block content
  section.portfolio-category
    h1.portfolio-category__title.page-title Программирование логики (JS)

    ul.portfolio-category__breadcrumbs.breadcrumbs
      li.breadcrumbs__item
        a.breadcrumbs__link.link.link--italic(href='portfolio.html') Портфолио
      li.breadcrumbs__item
        a.breadcrumbs__link.breadcrumbs__link--current.link.link--italic Программирование логики (JS)

    ul.portfolio-category__list
      li.portfolio-category__item
        a.portfolio-category__link.tool-tip.tool-tip--portfolio(href='#', data-title='Kekstagram')
          img.portfolio-category__image(src='img/kekstagram.png', alt='Kekstagram - сервис для обмена фотографиями и их редактирования')

      li.portfolio-category__item
        a.portfolio-category__link.tool-tip.tool-tip--portfolio(href='#', data-title='Code and Magik')
          img.portfolio-category__image(src='img/code-n-magik.jpg', alt='Code and Magik - демо-страница игры-платформера')

block footer
  +footer()
