extends ../pug/layout.pug

block header
  +header(pagesList, 4)

block content
  section.portfolio
    h1.portfolio__title.page-title Мои работы

    ul.portfolio__categories
      li.portfolio__category.portfolio__category--blue
        a.portfolio__category-link(href='#') Фиксированная вёрстка
      li.portfolio__category.portfolio__category--blue
        a.portfolio__category-link(href='#') Резиновая вёрстка
      li.portfolio__category.portfolio__category--blue
        a.portfolio__category-link(href='#') Адаптивная вёрстка
      li.portfolio__category.portfolio__category--green
        a.portfolio__category-link(href='#') Программирование логики (JS)

block footer
  +footer()
