extends ../pug/layout.pug

block header
  +header(pagesList, 0)

block content
  section.portfolio-category
    h1.portfolio-category__title.page-title Резиновая вёрстка

    ul.portfolio-category__breadcrumbs.breadcrumbs
      li.breadcrumbs__item
        a.breadcrumbs__link.link.link--italic(href='portfolio.html') Портфолио
      li.breadcrumbs__item
        a.breadcrumbs__link.breadcrumbs__link--current.link.link--italic Резиновая вёрстка

    ul.portfolio-category__list
      li.portfolio-category__item
        a.portfolio-category__link.tool-tip.tool-tip--portfolio(href='#', data-title='Sedona')
          img.portfolio-category__image(src='img/sedona-index-768.jpg', alt='Sedona - поиск жилья в маленьком американском городке Аризоны')

block footer
  +footer()
