extends ../pug/layout.pug

block header
  +header(pagesList, 4)

block content
  section.portfolio
    h1.portfolio__title.page-title Мои работы

    ul.portfolio__categories
      li.portfolio__category.portfolio__category--blue
        a.portfolio__category-link(href='portfolio-layout-fixed.html') Фиксированная вёрстка
      li.portfolio__category.portfolio__category--blue
        a.portfolio__category-link(href='portfolio-layout-responsive.html') Резиновая вёрстка
      li.portfolio__category.portfolio__category--blue
        a.portfolio__category-link(href='portfolio-layout-adaptive.html') Адаптивная вёрстка
      li.portfolio__category.portfolio__category--green
        a.portfolio__category-link(href='portfolio-js-programming.html') Программирование логики (JS)

block footer
  +footer()
