extends ../pug/layout.pug

block header
  +header(pagesList, 0)

block content
  section.portfolio-item
    .portfolio-item__header
      .portfolio-item__wrapper
        h1.portfolio-item__title.page-title Pink App
        time.portfolio-item__date(datetime='2018-05') май 2018
        ul.portfolio-item__sources
          li.portfolio-item__source
            a.link.link--italic-underline(href='https://docs.google.com/document/d/1Lups0RB6mX_ENp2DEq9IHG8DQ-fsOYb_YO-3hwC1LRo/edit', target='_blank') техническое задание
          li.portfolio-item__source
            a.link.link--italic-underline(href='https://github.com/MariJunior/Pink', target='_blank') проект на github
      .portfolio-item__wrapper
        p.portfolio-item__skills-sign использованный стек
        ul.portfolio-item__skills.skill-list.skill-list--small
          li.skill-list__item.tool-tip.tool-tip--green-dence(data-title='HTML5')
            img.skill-list__item-logo(src='img/icons/logo-html.svg', width='30', height='40', alt='HTML5')
          li.skill-list__item.tool-tip.tool-tip--green-dence(data-title='CSS3')
            img.skill-list__item-logo(src='img/icons/logo-css.svg', width='30', height='40', alt='CSS3')
          li.skill-list__item.tool-tip.tool-tip--green-dence(data-title='JavaScript')
            img.skill-list__item-logo(src='img/icons/logo-js.svg', width='30', height='40', alt='JavaScript')
          li.skill-list__item.tool-tip.tool-tip--green-dence(data-title='Gulp')
            img.skill-list__item-logo(src='img/icons/logo-gulp.svg', width='20', height='42', alt='Gulp')
          li.skill-list__item.tool-tip.tool-tip--green-dence(data-title='Sass')
            img.skill-list__item-logo(src='img/icons/logo-sass.svg', width='42', height='32', alt='Sass')
          li.skill-list__item.tool-tip.tool-tip--green-dence(data-title='PostCSS')
            img.skill-list__item-logo(src='img/icons/logo-postcss.svg', width='42', height='42', alt='PostCSS')

    ul.portfolio-item__breadcrumbs.breadcrumbs
      li.breadcrumbs__item
        a.breadcrumbs__link.link.link--italic(href='portfolio.html') Портфолио
      li.breadcrumbs__item
        a.breadcrumbs__link.link.link--italic(href='portfolio-layout-adaptive.html') Адаптивная вёрстка
      li.breadcrumbs__item
        a.breadcrumbs__link.breadcrumbs__link--current.link.link--italic Pink App

    p.portfolio-item__deskription
      | Сайт мобильного приложения Pink для раскрашивания серых будней в розовый цвет. Три страницы. Резиновая адаптивная вёрстка.

    .portfolio-item__gallery.project-gallery
      .project-gallery__device.project-gallery__device--desktop(data-simplebar)
        img(src='img/pink-index-desktop.jpg', alt='Превью десктопной версии главной страницы')
      .project-gallery__device.project-gallery__device--tablet(data-simplebar)
        img(src='img/pink-index-tablet.jpg', alt='Превью планшетной версии главной страницы')
      .project-gallery__device.project-gallery__device--mobile(data-simplebar)
        img(src='img/pink-index-mobile.jpg', alt='Превью мобильной версии главной страницы')

block footer
  +footer()
