extends ../pug/layout.pug

block header
  +header(pagesList, 0)

block content
  section.portfolio-item
    .portfolio-item__header
      .portfolio-item__wrapper
        h1.portfolio-item__title.page-title Kekstagram
        time.portfolio-item__date(datetime='2018-07') июль 2018
        ul.portfolio-item__sources
          li.portfolio-item__source
            a.link.link--italic-underline(href='https://drive.google.com/file/d/1PXhhxzaIGU26ZGs6qYx_DCAF2pyW8nEf/view', target='_blank') техническое задание
          li.portfolio-item__source
            a.link.link--italic-underline(href='https://github.com/MariJunior/Keksogram', target='_blank') проект на github
      .portfolio-item__wrapper
        p.portfolio-item__skills-sign использованный стек
        ul.portfolio-item__skills.skill-list.skill-list--small
          li.skill-list__item.tool-tip.tool-tip--green-dence(data-title='JavaScript')
            img.skill-list__item-logo(src='img/icons/logo-js.svg', width='30', height='40', alt='JavaScript')

    ul.portfolio-item__breadcrumbs.breadcrumbs
      li.breadcrumbs__item
        a.breadcrumbs__link.link.link--italic(href='portfolio.html') Портфолио
      li.breadcrumbs__item
        a.breadcrumbs__link.link.link--italic(href='portfolio-js-programming.html') Программирование логики (JS)
      li.breadcrumbs__item
        a.breadcrumbs__link.breadcrumbs__link--current.link.link--italic Kekstagram

    p.portfolio-item__deskription
      | Сервис для обмена фотографиями и их редиктирования. Программирование логики компонентов на vanille JavaScript.

    .portfolio-item__gallery.project-gallery
      .project-gallery__device.project-gallery__device--desktop(data-simplebar)
        img(src='img/kekstagram.png', alt='Превью приложения')

block footer
  +footer()
