//- В этом файле должен храниться перечень страниц в виде массива объектов: содержащих название и ссылку каждой страницы
-
  var pagesList = [
    {title: "Главная", href: "index.html"},
    {title: "Обо мне", href: "about.html"},
    {title: "Навыки", href: "skills.html"},
    {title: "Портфолио", href: "portfolio.html"},
    {title: "Контакты", href: "contacts.html"}
  ];
