mixin header(data, current)
  header.page-header.sticky
    .page-header__wrapper.page-container
      img.page-header__logo(src='img/icons/logo-human-condensed-colored.svg', width='90', height='60', alt='Логотип Mari Kalyuzhnaya Code')
      nav.page-header__navigation
        ul.page-header__navigation-list.navigation-list
          each item, index in data
            li.navigation-list__item
                a.navigation-list__link(class=(index === current-1 ? 'navigation-list__link--current' : undefined), href=(index === current-1 ? undefined : item.href))= item.title
        button.page-header__navigation-btn.burger-btn(type='button', aria-label='Кнопка открытия или закрытия меню')
          span.burger-btn__line
          span.burger-btn__line.burger-btn__line--second
          span.burger-btn__line.burger-btn__line--third
